*{
    margin: 0;
    padding: 0;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: black 2px solid;
    border-radius: 10px;
    width: 30vw;
}

h3, p {
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
}

img{
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
}